/* -------- Document level adjustments -------- */
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.6.1');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.1') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.1') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.1') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.1') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}
/*

@media (max-width: 900px) {
    html { font-size: 15px; }
}
@media (max-width: 400px) {
    html { font-size: 13px; }
}
*/
/* Modules will scale with document */

/* Type will scale with modules */
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}


/* -------- MY FRAMEWORK ADDITIONS --------*/

/* Testing */
.testing { border: 1px #ff0000 solid !important; }


/* Text Modifiers */
.bold {font-weight: bold;}
.italic, .italics {font-style: italic;}
.underline {text-decoration: underline;}
.justified {text-align: justify;}
.decoration-none {text-decoration: none;}
.strong {font-weight: bold;}
.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }
.text-linethrough { text-decoration: line-through; }

/* Text Colors */
.text-black { color: #000000; }
.text-dark-gray { color: #666666; }
.text-med-gray { color: #999999; }
.text-light-gray { color: #cccccc; }
.text-lightest-gray { color: #eeeeee; }


/* Background Colors */
.yellow { background-color: #fefec7; }
.black { background-color: #000000; }
.charcoal { background-color: #333333; }
.dark-gray { background-color: #666666; }
.med-gray { background-color: #999999; }
.light-gray { background-color: #cccccc; }
.lightest-gray { background-color: #eeeeee; }


/* Display */
.display-block { display: block; }
.display-inline { display: inline; }
.no-display { display: none; }
.hidden { visibility: hidden;  }


/* Centering */
.center-block {
    display: flex;
    align-items: center;
}

/* Floats */
.float-left {float: left;}
.float-right {float: right;}
.clear-float, .clear-both {clear: both;}


/* Margins */
.margin0 {margin: 0 !important;}

.margin-top0 {margin-top: 0;}
.margin-top5 {margin-top: 5px;}
.margin-top10 {margin-top: 10px;}
.margin-top15 {margin-top: 15px;}

.margin-right0 {margin-right: 0;}
.margin-right5 {margin-right: 5px;}
.margin-right10 {margin-right: 10px;}
.margin-right15 {margin-right: 15px;}

.margin-bottom0 {margin-bottom: 0;}
.margin-bottom5 {margin-bottom: 5px;}
.margin-bottom10 {margin-bottom: 10px;}
.margin-bottom15 {margin-bottom: 15px;}


/* Padding */
.padding0 {padding: 0 !important;}

.padding-vert10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-vert15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-vert20 {
    padding-top: 20px;
    padding-bottom: 20px;
}


.padding-top0 {padding-top: 0;}
.padding-top5 {padding-top: 5px;}
.padding-top10 {padding-top: 10px;}
.padding-top15 {padding-top: 15px;}

.padding-right0 {padding-right: 0;}
.padding-right5 {padding-right: 5px;}
.padding-right10 {padding-right: 10px;}
.padding-right15 {padding-right: 15px;}

.padding-left0 {padding-left: 0;}
.padding-left5 {padding-left: 5px;}
.padding-left10 {padding-left: 10px;}
.padding-left15 {padding-left: 15px;}

.padding-bottom0 {padding-bottom: 0;}
.padding-bottom5 {padding-bottom: 5px;}
.padding-bottom10 {padding-bottom: 10px;}
.padding-bottom15 {padding-bottom: 15px;}


/* Block elements */
.border-radius-none { border-radius: 0; }

/* Cursor */
.cursor-pointer { cursor: pointer; }

/* Minimum size set for tappable items */
.touch-target {
    min-width: 48px;
    min-height: 48px;
}


/* Larger Fonts */
.em30 { font-size: 3rem;}
.em250 { font-size: 2.5rem;}
.em20 { font-size: 2rem;}
.em15 { font-size: 1.5rem;}


/* Flexbox Quick Styles */

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}



/* ---------------- Template Styles ----------------- */

/* Glyphicons for collapsing accordion */
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


/* Icons from icomoon.io */
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?6gr5i8');
    src:    url('../fonts/icomoon.eot?6gr5i8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6gr5i8') format('truetype'),
    url('../fonts/icomoon.woff?6gr5i8') format('woff'),
    url('../fonts/icomoon.svg?6gr5i8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*
    Icons are added to the html with the code below:

    <a href="#" class="test-text-color">
                <span class="icon-pinterest-p" aria-hidden="true">&#xe905</span>
    </a>

    If more icons are needed, follow the steps below:

    01 - https://icomoon.io/app/#/select
    02 - Select icons. Note: Order selected is reflected by the sequencing of the icon locations in the font (e.g. e900, e901, e902)
    03 - Download new font files and replace existing files
    04 - Compare the generated CSS from the downloaded fonts with what is used here. Update as necessary.
    05 - Compare the HTML with what is used in the demo file. If the sequence in which the icons were selected from icomoon.io has changed, the HTML font codes will need to be updated(e.g. &#xe900, &#xe901, &#xe902)

*/

.icon-houzz:before {
    content: "\e900";
}
.icon-facebook2:before {
    content: "\e901";
}
.icon-instagram:before {
    content: "\e902";
}
.icon-twitter:before {
    content: "\e903";
}
.icon-blogger2:before {
    content: "\e904";
}
.icon-pinterest:before {
    content: "\e905";
}



footer .newsletter-signup {
    border-top: 1px #dcdede solid;
    border-bottom: 1px #dcdede solid;
}


footer .newsletter-signup p {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0;
}

footer .newsletter-signup .form-control {
    color: #cccccc;
}

footer .template-footer ul {
    padding-left: 10px;
}

footer .template-footer ul li {
    list-style-type: none;
    line-height: 2rem;
}


footer .template-footer ul li a {
    color: #333333;
}


/*footer*/ .col-xs-12 div.panel {
    margin-bottom: 0;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

/*footer*/ .col-xs-12 .panel-heading {
    background-color: #ffffff;
    border: none;
}

/*footer*/ .col-xs-12 hr {
    margin: 0;
}



/* Product Page Styles ---------------------- */

.nav {
    line-height: 67px;
    height: 67px;
    text-align: center;
}



/* Product Image Carousel */
.carousel-inner .item img { margin: 0 auto; } /* Centers images horizontally in carousel */


.carousel-control {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=600);
    opacity: .6;
}

.carousel-indicators li {
    background-color: #dbdddc;
    border-color: #bbbbbb;
}

.carousel-indicators .active {
    background-color: #595959;
    border-color: #595959;
}




.promotion-bar {
    height: 3em;
    line-height: 3em;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 15px;

}

/* Product page buttons */
.btn-cart,
.btn-cart:active,
.btn-cart:visited {
    background-color: #333333;
    border-color: #333333;
}

.btn-cart:hover {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-wish-nest,
.btn-wish-nest:active,
.btn-wish-nest:active,
.btn-wish-nest:hover,
.btn-wish-nest:visited {
    border-color: #333333;
}






p {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Random stuff - possibly testing */
.bg-color-secondary { background-color: #f5f5f5; }
.text-color-secondary { color: #bcbcbc; }


.template-buttons-social { max-width: 100px; }

.template-legal {
    font-size: .7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #bcbcbc;
}


